<span class="reading-time" title="Estimated read time">
  {% assign words = include.wordCount | number_of_words | divided_by:180 |round%}

  {% if words == 0 %}
     {% assign readTime = "Less than a" %}
   {% elsif words == 1 %}
     {% assign readTime = "One" %}
   {% elsif words == 2 %}
     {% assign readTime = "Two" %}
   {% elsif words == 3 %}
     {% assign readTime = "Three" %}
   {% elsif words == 4 %}
     {% assign readTime = "Four" %}
   {% elsif words == 5 %}
     {% assign readTime = "Five" %}
   {% elsif words == 6 %}
       {% assign readTime = "Six" %}
   {% elsif words == 7 %}
     {% assign readTime = "Seven" %}
   {% elsif words == 8 %}
     {% assign readTime = "Eight" %}
   {% elsif words == 9 %}
     {% assign readTime = "Nine" %}
   {% else %}
     {% assign readTime = words %}
   {% endif %}

   {{ readTime }}
   {% if words == 0 or words ==1 %} minute to read
   {% else %} minutes to read
   {% endif %}
</span>
